.connect {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 40px;
}

.qrcode-container {
    /* background-color: var(--main-gray); */
}

.connect ul {
    list-style: decimal;
}

.connect ul li {
    color: var(--main-white);
    
    font-size: 18px;
    font-weight: 200;
}